
* {
	-fx-text-fill: white;
}

.border-pane {
    -fx-background-color: red;
}

.timelinerow,#content-area {
	-fx-background-color: #333333;
}

.menu-item,.context-menu,.menu-bar {
    -fx-background-color: #444444;
}

.scroll-pane,.scroll-pane > .corner {
    -fx-background-color: #222222;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #333333;
    -fx-background-radius: 5em;
}

#effect-view,#clip-view,#timeline-view {
    -fx-border-color: rgba(100,100,100,0.3);
    -fx-border-insets: 2;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.text-field {
    -fx-control-inner-background: #303030
}

.icon {
	-fx-opacity: 0.8;
    -fx-background-radius: 10;
}

.icon:hover {
    -fx-opacity: 1.0;
    -fx-rotate: 2;
}

.icon:hover > * {
	    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 30, 0, 0, 0);
}

.timelinerow {
    -fx-border-color: rgba(150,150,150,0.4);
    -fx-border-insets: 5;
    -fx-border-width: 1;
    -fx-border-style: hidden hidden dashed hidden;
}

.menu:hover {
    -fx-background-color: #111111;
}

.menu:hover > .label {
    -fx-background-color: #111111;
}

.menu-item:hover {
    -fx-background-color: #111111;
}

.menu-item:hover > .label {
    -fx-background-color: #111111;
}

.timeline-title {
    -fx-border-color: rgba(150,150,150,0.4);
    -fx-background-color: #444444;
    -fx-pref-height: 50px;
}

#video-status-bar {
    -fx-alignment: center ;
}

#video-button-bar {
    -fx-alignment: center ;
}

#video-button-bar .button {
    -fx-background-color: 
        #555555,
        linear-gradient(#111111 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #444444 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#video-button-bar .button:hover {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #222222 45%, rgba(230,230,230,0) 50%);
}

#video-button-bar .button:pressed {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 70%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #000000 45%, rgba(150,150,150,0) 50%);
}

#timeline-position-line {
	-fx-stroke: yellow;
	-fx-stroke-width: 2px;
}

/** tmp **/

.button {
    -fx-background-color: 
        #555555,
        linear-gradient(#111111 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #444444 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #222222 45%, rgba(230,230,230,0) 50%);
}

.button:pressed {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 70%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #000000 45%, rgba(150,150,150,0) 50%);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}