
* {
	-fx-text-fill: white;
}

.timelinerow,#content-area,.dialog-root,.alert {
	-fx-background-color: #333333;
	-fx-background: #333333;
}

.progress-bar {
    -fx-control-inner-background: #666666;
}

.menu-item,.context-menu,.menu-bar {
    -fx-background-color: #444444;
}

.scroll-pane,.scroll-pane > .corner {
    -fx-background-color: #222222;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #333333;
    -fx-background-radius: 5em;
}

#effect-view,#clip-view,#timeline-view {
    -fx-border-color: rgba(100,100,100,0.3);
    -fx-border-insets: 2;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.text-field,.text-area,.combo-box,.text {
    -fx-control-inner-background: #404040;
    -fx-highlight-fill: #222;
    -fx-text-inner-color: white;
}

.render-dialog-option {
    -fx-pref-width: 200px;
}

.progress-text {
    -fx-fill:white;
}

.text-field:disabled {
    -fx-control-inner-background: #404040;
    -fx-highlight-fill: #222;
    -fx-text-inner-color: white;
}

.color-picker,.combo-box {
    -fx-background-color: #404040;
}

.icon {
	-fx-opacity: 0.8;
    -fx-background-radius: 10;
    -fx-pref-width: 100px;
}

.icon:hover {
    -fx-opacity: 1.0;
    -fx-rotate: 2;
}

.icon:hover > * {
	    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 30, 0, 0, 0);
}

.timelinerow {
    -fx-border-color: rgba(150,150,150,0.4);
    -fx-border-insets: 5;
    -fx-border-width: 1;
    -fx-border-style: hidden hidden dashed hidden;
}

.menu:hover {
    -fx-background-color: #111111;
}

.menu:hover > .label {
    -fx-background-color: #111111;
}

.menu-item:hover {
    -fx-background-color: #111111;
}

.menu-item:hover > .label {
    -fx-background-color: #111111;
}

.timeline-title {
    -fx-border-color: rgba(150,150,150,0.4);
    -fx-background-color: #444444;
    -fx-border-insets: 5;
    -fx-border-width: 1;
    -fx-border-style: hidden hidden dashed hidden;
    -fx-alignment: center ;
}

.channel-header-button-bar {
    -fx-alignment: center ;
}

.timeline-titles-pane {
    -fx-pref-width: 150;
    -fx-min-width: 150;
}

#video-status-bar {
    -fx-alignment: center ;
}

#video-button-bar {
    -fx-alignment: center ;
}

#video-button-bar .button {
    -fx-background-color: 
        #555555,
        linear-gradient(#111111 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #444444 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#video-button-bar .button:hover {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #222222 45%, rgba(230,230,230,0) 50%);
}

#video-button-bar .button:pressed {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 70%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #000000 45%, rgba(150,150,150,0) 50%);
}

#timeline-position-line {
	-fx-stroke: yellow;
	-fx-stroke-width: 2px;
}

#special-position-line {
    -fx-stroke: red;
    -fx-stroke-width: 2px;
}

.input-mode-enabled {
    -fx-opacity: 0.4;
}

.double-property-field,.integer-property-field {
    -fx-pref-width: 80px;
    -fx-text-fill: white;
}

.string-property-field {
    -fx-pref-width: 200px;
    -fx-pref-height: 100px;
}

.text-field.on-keyframe {
    -fx-control-inner-background: #606060;
    -fx-font-weight: 900;
}

.effect-property-grid {
    -fx-vgap: 4px;
    -fx-hgap: 8px;
}

.effect-detail-grid {
    -fx-vgap: 4px;
    -fx-hgap: 8px;
}

.separator{
    -fx-padding: 10px;
}

.description-text-area {
    -fx-max-width: 400px;
}

.description-vbox {
    -fx-pref-width: 400px;
}

.render-dialog-grid-pane {
    -fx-padding: 10px;
}

.render-dialog-button-bar {
    -fx-padding: 10px;
}

.channel-header-button-bar .channel-title-button {
    -fx-border-color: transparent;
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-font-size: 8px;
    -fx-text-fill: #ffffff;
    -fx-padding: 0 5px 0 5px;
    -fx-background-insets: 0;
}
.channel-header-button-bar .channel-title-button > * {
    -fx-text-fill: #ffffff;
}

.channel-header-button-bar .channel-title-button:hover {
    -fx-text-fill: #dddddd;
    -fx-fill: #dddddd;
}
.channel-header-button-bar .channel-title-button:hover > * {
    -fx-text-fill: #dddddd;
}


.channel-header-button-bar .channel-title-button:selected {
    -fx-text-fill: #555555;
    -fx-fill: #555555;
    -fx-background-color: rgba(0,0,0,0.2);
}
.channel-header-button-bar .channel-title-button:selected > * {
    -fx-text-fill: #555555;
}


/** tmp **/

.button {
    -fx-background-color: 
        #555555,
        linear-gradient(#111111 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #444444 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #222222 45%, rgba(230,230,230,0) 50%);
}

.button:pressed {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 70%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #000000 45%, rgba(150,150,150,0) 50%);
}



.toggle-button {
    -fx-background-color: 
        #555555,
        linear-gradient(#111111 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #444444 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.toggle-button:hover {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #222222 45%, rgba(230,230,230,0) 50%);
}

.toggle-button:selected {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 70%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #000000 45%, rgba(150,150,150,0) 50%);
}
.radio-menu-item.selected {    
    -fx-text-fill: red;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

.rectangle {
	-fx-opacity: 1.0;
}

.timeline-clip {

}

.timeline-clip.primary-active .clip-rectangle {
   -fx-effect: dropshadow(three-pass-box, rgba(240,248,255,0.9), 3, 0, 0, 0);
}

.timeline-effect.primary-active {
   -fx-effect: dropshadow(three-pass-box, rgba(240,248,255,0.9), 3, 0, 0, 0);
}

.timeline-clip.secondary-active .clip-rectangle {
   -fx-effect: dropshadow(three-pass-box, rgba(240,248,255,0.9), 3, 0, 0, 0);
}

.timeline-effect.secondary-active {
   -fx-effect: dropshadow(three-pass-box, rgba(240,248,255,0.9), 3, 0, 0, 0);
}

.markdown-title-one {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.markdown-title-two {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.markdown-text {
    -fx-fill: white;
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}

.timeline-title-channel-name-label {
    -fx-pref-width: 100px;
}

.effect-property-group .title {
    -fx-background-color: transparent;
    -fx-border-color: rgba(10,10,10,0.2);
}

.effect-property-group .content {
    -fx-background-color: transparent;
    -fx-border-color: rgba(10,10,10,0.2);
    -fx-padding: 0 0 0 20
}

.size-drop-down {
    -fx-background-color: transparent;
    -fx-max-width: 70px;
}
.size-drop-down > .list-cell {
    -fx-text-overrun: clip;
}