
* {
	-fx-text-fill: white;
}
  
.timelinerow,#content-area,.dialog-root,.alert {
	-fx-background-color: #333333;
	-fx-background: #333333;
}

.progress-bar {
    -fx-control-inner-background: #666666;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}

.menu-item,.context-menu,.menu-bar {
    -fx-background-color: #444444;
    
    -fx-padding: 0px;
}

.context-menu {
    -fx-border-color: #3a3a3a;
    -fx-border-width: 1px;
}

.context-menu .separator {
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em;
    -fx-opacity: 0.3;
}

.menu-item .arrow {
    -fx-background-color: white;
}

.menu-item .label {
    -fx-padding: 5 10 5 10
}

.menu-item,.context-menu,.menu-bar .accelerator-text {
    -fx-text-fill: #a1a1a1;
}


.scroll-pane,.scroll-pane > .corner {
    -fx-background-color: #222222;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #333333;
    -fx-background-radius: 5em;
}

#effect-view,#clip-view,#timeline-view {
    -fx-border-color: rgba(100,100,100,0.3);
    -fx-border-insets: 2;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.text-field,.text-area,.combo-box,.text {
    -fx-control-inner-background: #404040;
    -fx-highlight-fill: #222;
    -fx-text-inner-color: white;
}

.progress-text {
    -fx-fill:white;
}

.text-field:disabled {
    -fx-control-inner-background: #404040;
    -fx-highlight-fill: #222;
    -fx-text-inner-color: white;
}

.color-picker,.combo-box {
    -fx-background-color: #404040;
}

.icon {
	-fx-opacity: 0.8;
    -fx-background-radius: 10;
    -fx-pref-width: 100px;
}

.icon:hover {
    -fx-opacity: 1.0;
    -fx-rotate: 2;
}

.icon:hover > * {
	    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 30, 0, 0, 0);
}

.timelinerow {
    -fx-border-color: rgba(150,150,150,0.4);
    -fx-border-insets: 5;
    -fx-border-width: 1;
    -fx-border-style: hidden hidden dashed hidden;
}

.menu-item:focused {
    -fx-background-color: #333333;
}

.menu-item:hover > .label {
    -fx-background-color: #333333;
}

.timeline-title {
    -fx-border-color: rgba(150,150,150,0.4);
    -fx-background-color: #333;
    -fx-border-insets: 5;
    -fx-border-width: 1;
    -fx-border-style: hidden hidden dashed hidden;
    -fx-alignment: center;
}

.timeline-titles-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
}

.timeline-title-bar {
    -fx-spacing: 3px;
}

.channel-header-button-bar {
    -fx-alignment: center ;
}

.timeline-titles-pane {
    -fx-pref-width: 151px;
    -fx-min-width: 151px;
}

#video-status-bar {
    -fx-alignment: center ;
}

#video-button-bar {
    -fx-alignment: center ;
}

#video-button-bar .button {
    -fx-background-color: 
        #555555,
        linear-gradient(#111111 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #444444 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#video-button-bar .button:hover {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #222222 45%, rgba(230,230,230,0) 50%);
}

#video-button-bar .button:pressed {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 70%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #000000 45%, rgba(150,150,150,0) 50%);
}

#timeline-position-line {
	-fx-stroke: yellow;
	-fx-stroke-width: 2px;
}

#special-position-line {
    -fx-stroke: red;
    -fx-stroke-width: 2px;
}

#loop-a-line,#loop-b-line {
    -fx-stroke: green;
    -fx-stroke-width: 1px;
}

.loop-button-enabled>* {
    -fx-text-fill: rgba(0,230,255,0.95);
}
.loop-button-enabled {
    -fx-text-fill: rgba(0,230,255,0.95);
}

.timeline-title-bar>.separator {
    -fx-padding: 4px;
}

.input-mode-enabled {
    -fx-opacity: 0.4;
}

.double-property-field,.integer-property-field {
    -fx-pref-width: 80px;
    -fx-text-fill: white;
}

.string-property-field {
    -fx-pref-width: 200px;
    -fx-pref-height: 100px;
}

.text-field.on-keyframe {
    -fx-control-inner-background: #606060;
    -fx-font-weight: 900;
}

.effect-property-grid {
    -fx-vgap: 4px;
    -fx-hgap: 8px;
}

.effect-detail-grid {
    -fx-vgap: 4px;
    -fx-hgap: 8px;
}

.separator{
    -fx-padding: 10px;
}

.description-text-area {
    -fx-max-width: 400px;
}

.additional-render-options-panel > .render-dialog-option {
    -fx-pref-width: 110px;
}

.render-dialog-option {
    -fx-pref-width: 150px;
}

.render-dialog-grid-pane {
    -fx-padding: 10px;
    -fx-pref-width: 540px;
}

.render-dialog-button-bar {
    -fx-padding: 10px;
}

.additional-render-options-panel {
    -fx-padding: 10px;
}

.channel-header-button-bar .channel-title-button {
    -fx-border-color: transparent;
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-font-size: 8px;
    -fx-text-fill: #eee;
    -fx-padding: 0 5px 0 5px;
    -fx-background-insets: 0;
}
.channel-header-button-bar .channel-title-button > * {
    -fx-text-fill: #aaa;
}

.timelinerow:hover {
    -fx-background-color: #353535;
}

.channel-header-button-bar .channel-title-button:hover {
    -fx-text-fill: #fff;
    -fx-fill: #fff;
}
.channel-header-button-bar .channel-title-button:hover > * {
    -fx-text-fill: #fff;
}


.channel-header-button-bar .channel-title-button:selected {
    -fx-text-fill: #555555;
    -fx-fill: #555555;
    -fx-background-color: rgba(0,0,0,0.2);
}
.channel-header-button-bar .channel-title-button:selected > * {
    -fx-text-fill: #555555;
}
.channel-header-button-bar .channel-title-button:selected:hover > * {
    -fx-text-fill: #aaa;
}


/** tmp **/

.button {
    -fx-background-color: 
        #555555,
        linear-gradient(#111111 50%, #777 100%),
        radial-gradient(center 50% -40%, radius 200%, #3a3a3a 45%, rgba(130,130,130,0) 50%);
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: 
        #333333,
        linear-gradient(#0f0f0f 50%, #999999 100%),
        radial-gradient(center 50% -40%, radius 200%, #222222 45%, rgba(230,230,230,0) 50%);
}

.button:pressed {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 70%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #000000 45%, rgba(150,150,150,0) 50%);
}



.toggle-button {
    -fx-background-color: 
        #555555,
        linear-gradient(#111111 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #444444 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.toggle-button:hover {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #222222 45%, rgba(230,230,230,0) 50%);
}

.toggle-button:selected {
    -fx-background-color: 
        #333333,
        linear-gradient(#000000 70%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #000000 45%, rgba(150,150,150,0) 50%);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width:90px;
}

.tab-down-button .arrow {
    -fx-background-color: white;
}

.tab-down-button .arrow {
    -fx-background-color: rgb(230,230,230);
}

.tab-down-button:hover .arrow {
    -fx-background-color: rgb(255,255,255);
}

.tab-down-button {
    -fx-background-color: transparent;
    -fx-padding: 0 5 0 5;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #646464;
}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #d2d2d2;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
    //-fx-text-fill: #00e6ff;
}

.rectangle {
	-fx-opacity: 1.0;
}

.timeline-clip {

}

.timeline-clip {
    -fx-padding:3px;
}

.timeline-clip.primary-active .clip-rectangle {
   -fx-effect: dropshadow(three-pass-box, rgba(0,230,255,0.95), 5, 0, 0, 0);
   -fx-opacity: 0.95;
}

.timeline-effect.primary-active {
   -fx-effect: dropshadow(three-pass-box, rgba(0,230,255,0.95), 5, 0, 0, 0);
   -fx-opacity: 0.95;
}

.timeline-clip.secondary-active .clip-rectangle {
   -fx-effect: dropshadow(three-pass-box, rgba(0,230,255,0.95), 5, 0, 0, 0);
   -fx-opacity: 0.95;
}

.timeline-effect.secondary-active {
   -fx-effect: dropshadow(three-pass-box, rgba(0,230,255,0.95), 5, 0, 0, 0);
   -fx-opacity: 0.95;
}

.markdown-title-one {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.markdown-title-two {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.markdown-text {
    -fx-fill: white;
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}

.timeline-title-channel-name-label {
    -fx-pref-width: 100px;
}

.titled-pane .title {
    -fx-background-color: transparent;
    -fx-border-color: rgba(10,10,10,0.2);
}

.effect-property-group .content {
    -fx-background-color: transparent;
    -fx-border-color: rgba(10,10,10,0.2);
    -fx-padding: 0 0 0 20
}

.size-drop-down {
    -fx-background-color: transparent;
    -fx-max-width: 70px;
}
.size-drop-down > .list-cell {
    -fx-text-overrun: clip;
}

<!-- plugins dialog -->

.plugin-list-element {
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-pref-width: 400px;
}

.plugin-list-title {
    -fx-font-size: 14pt;
    -fx-font-weight: bolder;
}

.plugin-list-description {
    -fx-font-size: 10pt;
}

.plugin-list-author {
    -fx-font-size: 8pt;
    -fx-font-style: italic;
}

.resolution-link-button {
    -fx-background-radius: 0;
    -fx-background-color: rgba(0,0,0,0.0);
    -fx-opacity: 0.7;
    -fx-padding: 5px;
}

.resolution-link-button:hover {
    -fx-background-radius: 0;
    -fx-background-color: rgba(0,0,0,0.0);
    -fx-opacity: 1.0;
}

.render-dialog-time-selector {
    -fx-max-width: 145px;
}

.resolution-component>.text-field {
    -fx-pref-width: 60px
}