target
.factorypath
*.log

*.so
*.lib
*.dll
*iobj
*ipdb
*.exp
*.obj
*.pdb
*.exe

.classpath
.settings/
.project

*.ppm
tactview-core/src/main/resources/linux-x86-64/
release
dependency-reduced-pom.xml
